Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Jenkinsfile:

pipeline {
    agent any
    environment {
        DOCKERHUB_CREDENTIALS = credentials('dockerhub-credentials')
        BACKEND_IMAGE = "kst1040/myonitoring-backend"
        FRONTEND_IMAGE = "kst1040/myonitoring-frontend"
    }
    stages {
        stage('Checkout') {
            when {
                branch 'dev'
            }
            steps {
                checkout scm
                script {
                    def commitHash = sh(script: 'git rev-parse --short HEAD', returnStdout: true).trim()
                    def commitAuthor = sh(script: 'git log -1 --pretty=format:"%an"', returnStdout: true).trim()
                    def commitMessage = sh(script: 'git log -1 --pretty=format:"%s"', returnStdout: true).trim()
                    
                    echo "=== Build Information ==="
                    echo "Commit Hash: ${commitHash}"
                    echo "Author: ${commitAuthor}"
                    echo "Message: ${commitMessage}"
                    echo "======================="
                }
            }
        }
        stage('Build Backend') {
            when { 
                allOf {
                    branch 'dev'
                    changeset "backend/**"
                }
            }
            steps {
                dir('backend') {
                    sh '''
                        chmod +x ./gradlew
                        ./gradlew clean build
                        docker build -t ${BACKEND_IMAGE}:latest .
                        echo $DOCKERHUB_CREDENTIALS_PSW | docker login -u $DOCKERHUB_CREDENTIALS_USR --password-stdin
                        docker push ${BACKEND_IMAGE}:latest
                        docker logout
                    '''
                }
            }
        }
        stage('Build Frontend') {
            when { 
                allOf {
                    branch 'dev'
                    changeset "frontend/**"
                }
            }
            steps {
                dir('frontend') {
                    sh '''
                        npm install
                        npm run build
                        docker build -t ${FRONTEND_IMAGE}:latest .
                        echo $DOCKERHUB_CREDENTIALS_PSW | docker login -u $DOCKERHUB_CREDENTIALS_USR --password-stdin
                        docker push ${FRONTEND_IMAGE}:latest
                        docker logout
                    '''
                }
            }
        }
        stage('Deploy') {
            when {
                branch 'dev'
            }
            steps {
                script {
                    echo "Deploying new versions of containers..."
                    
                    // 새 이미지 pull
                    sh "docker pull ${BACKEND_IMAGE}:latest"
                    sh "docker pull ${FRONTEND_IMAGE}:latest"
                    
                    // 운영 환경용 컨테이너 재시작
                    sh '''
                        docker-compose -f docker-compose.yml -f docker-compose.prod.yml down
                        docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d
                        docker-compose ps
                    '''
                }
            }
        }
    }
    post {
        success {
            echo "Build and deployment successful"
            sh 'docker image prune -f'
        }
        failure {
            echo "Build or deployment failed. Check the logs for details."
        }
        always {
            cleanWs()
        }
    }
}

[feat] 고양이 눈 위치 검출 알고리즘
  ai/README.md
  ai/cat-eye-detection/main.py
  ai/samples/1.jpg
  ai/samples/2.jpg
Due: none

[docs] Home.tsx & vite.config.ts 수정 #S12P11B201-46
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[docs] README 수정
  ai/README.md
Due: none

[fix] 통계 데이터 계산 및 저장 로직 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Statistics.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/StatisticsRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[feat] TopBar, 고양이 안구 페이지 API 연결
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/GraphComponents/CumulativeStatistics.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/dummyData/day.json
  frontend/myonitoring/src/dummyData/week.json
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/mypage/Mypage.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/redux/slices/catSlice.ts
Due: Build Frontend

[docs] ouline 수정 #S12P11B201-46
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[fix] frontend/reservation/Reservation.tsx 수정 #S12P11B201-46
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend

[fix] nginx conf 파일 수정 #S12P11B201-46
  nginx/conf.d/default.conf
Due: none

[feat] 통계 데이터 조회 기능 구현4
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/StatisticsController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/StatisticsResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[fix] 스케줄링 시간 변경
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[docs] nginx 복구 #S12P11B201-46
  nginx/conf.d/default.conf
Due: none

[feat] CatInfoEdit APi TEST
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/mypage/Mypage.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
Due: Build Frontend

[feat] 임베디드 API 통신 테스트 코드
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/TempController.java
Due: Build Backend

[feat] 임베디드 API 통신 테스트 코드2
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/TempController.java
Due: Build Backend

언니 이거 받아
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
Due: Build Frontend

[feat] git 현정언니한테 보내기기
  frontend/package-lock.json
  frontend/package.json
Due: Build Frontend

[chore] 기기 추가 api 연결 중
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/deviceSlice.ts
  frontend/myonitoring/src/redux/store.ts
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[fix] CORS 에러 해결
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
  backend/src/main/resources/application.properties
Due: Build Backend

[fix] 기기 추가 로직 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
Due: Build Frontend

[feat] 기기 추가 api 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[feat] 카카오 로그인, 기기 추가 성공!!!!!!
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
Due: Build Frontend

[fix] 일간 섭취데이터 상세조회 로직 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/service/IntakeService.java
Due: Build Backend

[fix] 반환 데이터에서 id 빠진 부분 id 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalDetailResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/ScheduleResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MedicalService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleService.java
Due: Build Backend

[feat] CatInfoEdit 수정 기능 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
Due: Build Frontend

[feat] 카카오 로그인, 기기 추가 api 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/redux/slices/authSlice.ts
Due: Build Frontend

[fix] dev + dev-front 병합 충돌 해결 2
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend

[fix] base url 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EnvironmentController.java
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
Due: Build Backend, Build Frontend

[fix] axios base url 컴포넌트화
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
Due: Build Frontend

[feat] 추가 개인정보 api 작업 중
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/authSlice.ts
Due: Build Frontend

[fix] 디바이스, 스케줄 관련 API에서 deviceId 대신 catId를 사용하도록 로직 변경
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DeviceController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/DeviceRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleService.java
Due: Build Backend

[feat] firebase 기본 설정 #S12P11B201-46
  backend/build.gradle
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/NotificationRequestDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/FCMService.java
  backend/src/main/resources/application.properties
Due: Build Backend

[fix] 메인페이지 의료기록 조회 반환 데이터 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/MedicalRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MainPageService.java
Due: Build Backend

[feat] report 페이지 api 연결 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/components/GraphComponents/CumulativeStatistics.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
  frontend/myonitoring/src/redux/slices/medicalRecordsSlice.tsx
Due: Build Frontend

[feat] 온보딩 api 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/Greeting.tsx
  frontend/myonitoring/src/pages/onboarding/Loading.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/Splash.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/authSlice.ts
Due: Build Frontend

[feat] 예약 코드 분할 및 예약 추가 api 대충 작성
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/pages/reservation/ReservationItem.tsx
  frontend/myonitoring/src/pages/reservation/ReservationModal.tsx
  frontend/myonitoring/src/redux/slices/reservationsSlice.tsx
Due: Build Frontend

[feat] firebase backend 완료
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/AlertRequest.java
Due: Build Backend

[fix] 고양이 권장섭취량 필드 삭제
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatCreateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatDetailResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatUpdateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Cat.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
Due: Build Backend

[feat] firebase 환경변수 관련 api
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EnvironmentController.java
Due: Build Backend

[feat] Firebase 관련 환경변수 설정 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EnvironmentController.java
  backend/src/main/resources/application.properties
Due: Build Backend

[feat] 로그아웃, 회원 상태 따라 고양이 호출 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/pages/reservation/ReservationItem.tsx
  frontend/myonitoring/src/pages/reservation/ReservationModal.tsx
  frontend/myonitoring/src/redux/slices/reservationsSlice.tsx
Due: Build Frontend
