Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[fix] 알림, 홈캠 제외 완료
  frontend/myonitoring/src/api/axios.ts
Due: Build Frontend

[fix] EnvironmentController update #S12P11B201-42
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EnvironmentController.java
Due: Build Backend

[fix] vite.config.ts update #S12P11B201-42
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[fix] axios baseURL change #S12P11B201-42
  frontend/myonitoring/src/api/axios.ts
Due: Build Frontend

[fix] 알림 라우팅
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/components/FirebaseComponents/FBNotification.tsx
  frontend/myonitoring/src/firebase/notification.ts
Due: Build Frontend

[feat] 의료기록 알림 기능 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/MedicalRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleNotificationService.java
Due: Build Backend

[fix] 이상 알림 전송 로직 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DataCollectionService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/FcmTokenService.java
Due: Build Backend

[fix] 고양이 안구 이미지 url 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/TempController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DataCollectionRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Eye.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DataCollectionService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/EyeService.java
Due: Build Backend

[fix] 토픽 기반 알림을 FCM 토큰 기반 알림으로 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/FcmTokenService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleNotificationService.java
Due: Build Backend

[fix] DB 알림 로깅 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationCategory.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationLog.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/NotificationService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleNotificationService.java
Due: Build Backend

[fix] 문법 오류 수정
  frontend/myonitoring/dev-dist/sw.js
Due: Build Frontend

[fix] FCM 토큰 완료
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationLogController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/NotificationLogResponse.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/IntakeStatistics.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/FcmTokenRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/IntakeStatisticsRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DataCollectionService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/NotificationLogService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/NotificationService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleNotificationService.java
Due: Build Backend

[fix] 푸시 알림, 알림 로그 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/firebase-messaging-sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/Cam.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/onboarding/Greeting.tsx
Due: Build Frontend

[feat] home 외 다른 컴포넌트 디자인 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/components/GraphComponents/EyeHealthScale.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/index.css
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/medical-records/MakeMedicalRecord.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend

[fix] axios base 경로 수정
  frontend/myonitoring/src/api/axios.ts
Due: Build Frontend

[fix] db 필드명 버그 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationLog.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/NotificationService.java
Due: Build Backend

[fix] 통계 페이지 반환 데이터 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[feat] graph오류 및 데이터 수정, 안구 페이지 사진 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/bell.png
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/components/GraphComponents/CumulativeStatistics.tsx
  frontend/myonitoring/src/components/GraphComponents/EyeHealthScale.tsx
  frontend/myonitoring/src/components/MedicalComponent/MedicalList.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
Due: Build Frontend

[fix] 예약 스케줄 활성화 여부에 따라서도 스케줄 기기로 전송
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
Due: Build Backend

[feat] 캠 페이지 생성, 이미지 업로드 작업 중
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/bell.png
  frontend/myonitoring/src/firebase/config.ts
  frontend/myonitoring/src/firebase/uploadImageToFirebase.ts
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/redux/slices/notificationSlice.tsx
  frontend/myonitoring/src/redux/store.ts
Due: Build Frontend

[docs] 리드미 초안 작성
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/readme/readme_myonitoring_logo.png
  frontend/myonitoring/public/readme/user_flow.png
  frontend/myonitoring/public/readme/wireframe.png
Due: Build Frontend

[docs] 리드미 초안 작성
  frontend/myonitoring/README.md
Due: Build Frontend

[docs] 리드미 초안 작성
  frontend/README.md
Due: Build Frontend

[docs] 리드미 수정
  frontend/README.md
Due: Build Frontend

store만 수정
  frontend/myonitoring/src/redux/store.ts
Due: Build Frontend

dev-frontend 최종 수정 by 효원
  frontend/myonitoring/dev-dist/sw.js
Due: Build Frontend

[chore] 홈캠 스트리밍 연결 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/Home.tsx
Due: Build Frontend

[chore] 고양이 등록시 이미지 업로드 수정 중
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/Cam.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
Due: Build Frontend

[feat] CAM 연결, 이미지 업로드, 리드미 완료
  README2.md
  frontend/README.md
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/readme/급식 예약.gif
  frontend/myonitoring/public/readme/기기관리.gif
  frontend/myonitoring/public/readme/메인화면.gif
  frontend/myonitoring/public/readme/섭취량 그래프.gif
  frontend/myonitoring/public/readme/스플래쉬화면.gif
  frontend/myonitoring/public/readme/안구페이지.gif
  frontend/myonitoring/public/readme/알림 페이지.gif
  frontend/myonitoring/public/readme/의료기록.gif
  frontend/myonitoring/public/readme/통계 페이지.gif
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
Due: Build Frontend

[fix] 유저 삭제 시 fcm 토큰 삭제 로직 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/FcmToken.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
Due: Build Backend

[fix] cat image url 제한 길이 수정 256->2048
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Cat.java
Due: Build Backend

[fix] 이미지 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/Group 1321316432.png
  frontend/myonitoring/public/loading.gif
  frontend/myonitoring/public/logo_cat.png
  frontend/myonitoring/public/readme/readme_myonitoring_logo.png
  frontend/myonitoring/public/readme/user_flow.png
  frontend/myonitoring/public/readme/wireframe.png
  frontend/myonitoring/public/readme/급식 예약.gif
  frontend/myonitoring/public/readme/기기관리.gif
  frontend/myonitoring/public/readme/메인화면.gif
  frontend/myonitoring/public/readme/섭취량 그래프.gif
  frontend/myonitoring/public/readme/스플래쉬화면.gif
  frontend/myonitoring/public/readme/안구페이지.gif
  frontend/myonitoring/public/readme/알림 페이지.gif
  frontend/myonitoring/public/readme/의료기록.gif
  frontend/myonitoring/public/readme/통계 페이지.gif
  frontend/myonitoring/public/sleeping_cat.png
  frontend/myonitoring/public/white_bg.png
Due: Build Frontend

[docs] 리드미 수정
  README2.md
Due: none

[fix] firebase-image upload #S12P11B201-42
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
Due: Build Frontend

[fix] ìapi url 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
Due: Build Backend

[fix] package.json 추가
  package.json
Due: none

[fix] dockerfile 재수정 #S12P11B201-42
  frontend/Dockerfile
Due: Build Frontend

[fix] localhost 수정
  frontend/myonitoring/src/api/axios.ts
Due: Build Frontend

[docs] README 수정
  README2.md
Due: none

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
