Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[docs] 메인페이지 FE개발 #S12P11B201-185
  frontend/my-app/.gitignore
  frontend/my-app/package-lock.json
  frontend/my-app/package.json
  frontend/my-app/public/favicon.ico
  frontend/my-app/public/index.html
  frontend/my-app/public/logo192.png
  frontend/my-app/public/logo512.png
  frontend/my-app/public/manifest.json
  frontend/my-app/public/neko512.png
  frontend/my-app/public/robots.txt
  frontend/my-app/src/App.css
  frontend/my-app/src/App.js
  frontend/my-app/src/App.test.js
  frontend/my-app/src/index.css
  frontend/my-app/src/index.js
  frontend/my-app/src/logo.svg
  frontend/my-app/src/reportWebVitals.js
  frontend/my-app/src/service-worker.js
  frontend/my-app/src/serviceWorkerRegistration.js
  frontend/my-app/src/setupTests.js
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.css
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/assets/images/mainback.png
  frontend/myonitoring/src/components/BottomBar.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/index.css
  frontend/myonitoring/src/pages/MainpScreeb.tsx
  frontend/myonitoring/src/pages/ReportScreen.tsx
Due: Build Frontend

[feat] frontend 디렉터리 update #S12P11B201-46
  frontend/myonitoring/package.json
  frontend/myonitoring/tsconfig.app.json
  frontend/myonitoring/tsconfig.json
Due: Build Frontend

[feat] 약관 동의 화면 구현 #S12P11B201-177
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/Header.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/components/WideButton.tsx
  frontend/myonitoring/src/data/TermsDetails.ts
  frontend/myonitoring/src/main.tsx
  frontend/myonitoring/src/pages/AgreementDetail.tsx
  frontend/myonitoring/src/pages/Agreements.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Loading.tsx
  frontend/myonitoring/src/pages/MainpScreeb.tsx
  frontend/myonitoring/src/pages/PersonalInfo.tsx
  frontend/myonitoring/src/pages/Report.tsx
  frontend/myonitoring/src/pages/Splash.tsx
  frontend/myonitoring/tailwind.config.js
Due: Build Frontend

[feat] user-update-api #S12P11B201-46
  Jenkinsfile
  backend/build.gradle
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: Build Backend

[feat] 회원 삭제(탈퇴) #S12P11B201-97
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
Due: Build Backend

[feat] 로그아웃 #S12P11B201-176
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
Due: Build Backend

[feat] 약관 동의 화면, 약관 상세 화면 구현 #S12P11B201-177
  frontend/myonitoring/README.md
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/output.css
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/ContentSection.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/pages/AgreementDetail.tsx
  frontend/myonitoring/src/pages/Agreements.tsx
  frontend/myonitoring/src/pages/PersonalInfo.tsx
  frontend/myonitoring/src/pages/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/authSlice.ts
  frontend/myonitoring/src/redux/slices/userSlice.ts
  frontend/myonitoring/src/redux/store.ts
Due: Build Frontend

[refactor] 엔드포인트 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
Due: Build Backend

[chore] 보안 설정 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
Due: Build Backend

[feat] 토큰 관리 방식 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
Due: Build Backend

[feat] 개인 정보 입력 페이지 화면 구현 #S12P11B201-178
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/assets/images/info_cat.png
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/pages/Agreements.tsx
  frontend/myonitoring/src/pages/CatInfo.tsx
  frontend/myonitoring/src/pages/LoginSignUp.tsx
  frontend/myonitoring/src/pages/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/catSlice.ts
  frontend/myonitoring/src/redux/store.ts
Due: Build Frontend

[jinsil] 테스트용 user 생성
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController2.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User2.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/UserRepository2.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService2.java
Due: Build Backend

[jinsil] 디바이스 CRUD 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DeviceController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceCreateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceDetailResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Device.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/DeviceRepository.java
Due: Build Backend

[jinsil] 고양이 CRUD 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/CatController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatCreateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatDetailResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatUpdateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Cat.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/CatRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
Due: Build Backend

[jinsil] 디바이스 서비스 코드 추가 (실수로 빼먹음)
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
Due: Build Backend

[jinsil] eye, feeding, intake, statistics entity 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Eye.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Feeding.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Gender.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Intake.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Statistics.java
Due: Build Backend

[jinsil] 임베디드에서 받아오는 데이터를 저장하는 로직 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DataCollectionController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DataCollectionRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/EyeRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/FeedingRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/IntakeRepository.java
Due: Build Backend

[jinsil] 급여 및 섭취 관련 조회 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/IntakeController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/IntakeService.java
Due: Build Backend

[jinsil] 안구 정보 조회 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EyeController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/EyeService.java
Due: Build Backend

[jinsil] 00시에 전날 섭취량 통계 계산하는 스케줄링 초기 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/StatisticsRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[jinsil] catService, DataCollectionService 코드 리펙터링 안된 부분 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DataCollectionService.java
Due: Build Backend

[feat] 통계 페이지 개발 #S12P11B201-186
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/BottomBar.tsx
  frontend/myonitoring/src/components/GraphComponents/CumulativeStatistics.tsx
  frontend/myonitoring/src/components/GraphComponents/DateNavigationBar.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/dummyData/dummyData14.py
  frontend/myonitoring/src/dummyData/feeding_data.json
  frontend/myonitoring/src/pages/Graph.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Loading.tsx
  frontend/myonitoring/src/pages/ReportScreen.tsx
  frontend/myonitoring/src/pages/Splash.tsx
  frontend/myonitoring/src/pages/Statistics.tsx
Due: Build Frontend

[jinsil] application.properties 주석 처리 후 진실 버전 추가
  backend/src/main/resources/application.properties
Due: Build Backend

[docs] cicd-test 1 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] cicd-test 2 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] cicd-test 3 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] Jenkinsfiles upload #S12P11B201-46
  Jenkinsfile.cd
  Jenkinsfile.ci
  backend/README.md
Due: Build Backend

[docs] Jenkinsfile delete #S12P11B201-46
  Jenkinsfile
Due: none

[docs] cicd test 4-1 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] jenkinsfile.ci update #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] cicd test 4-2 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] Jenkinsfile.ci update2 & backend test build file add #S12P11B201-46
  Jenkinsfile.ci
  backend/src/test/ressources/application.properties
Due: Build Backend

[docs] Jenkinsfile.ci update 3 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] cicd test 5 #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] build.gradle update #S12P11B201-46
  backend/build.gradle
  backend/src/test/resources/application.properties
Due: Build Backend

[docs] test전용 application.properties update #S12P11B201-46
  backend/build.gradle
  backend/src/test/resources/application.properties
Due: Build Backend

[fix] example/demo directory delete #S12P11B201-46
  backend/src/test/java/com/example/demo/DemoApplicationTests.java
Due: Build Backend

[docs] cicd test 6 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] Jenkinsfile.ci update 4 & cicd test 7 #S12P11B201-46
  Jenkinsfile.ci
  frontend/README.md
Due: Build Frontend

[docs] Jenkinsfile.ci update 5 #S12P11B201-46
  Jenkinsfile.ci
Due: none

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
