Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
  Build & Push Backend: any of: backend/**
  Build & Push Frontend: any of: frontend/**

[feat] 라우팅 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/BottomBar.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
Due: Build Frontend, Build & Push Frontend

[docs] mysql port변경 & 시간대 변경 #S12P11B201-46
  nginx/Dockerfile
  nginx/conf.d/default.conf
Due: none

[docs] TopBar, 입력 컴포넌트 디자인 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/ContentSection.tsx
  frontend/myonitoring/src/components/GraphComponents/DateNavigationBar.tsx
  frontend/myonitoring/src/components/GraphComponents/EyeInfoBox.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/index.css
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
  frontend/myonitoring/tailwind.config.js
Due: Build Frontend, Build & Push Frontend

[chore] 인가 코드 추출 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/dev-dist/workbox-f8c404e3.js
  frontend/myonitoring/index.html
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecordsDetail.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/redux/slices/notificationSlice.tsx
  frontend/myonitoring/src/redux/store.ts
  frontend/myonitoring/vite.config.ts
Due: Build Frontend, Build & Push Frontend

[test] api 연결 test
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/ExceptTopContentSection.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecordsDetail.tsx
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/mypage/Mypage.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend, Build & Push Frontend

[feat] 메인 페이지 4가지 조회 기능 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/MainPageController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/MedicalRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MainPageService.java
Due: Build Backend, Build & Push Backend

[fix] statistics 필드명 대소문자 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Statistics.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend, Build & Push Backend

[feat] 메인페이지에 필요한 통계데이터 조회 기능 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/StatisticsRepository.java
Due: Build Backend, Build & Push Backend

[docs] setting files update #S12P11B201-46
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserUpdateDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
  backend/src/main/resources/application.properties
  docker-compose.yml
  nginx/Dockerfile
Due: Build Backend, Build & Push Backend

[fix] Jenkinsfile.ci & .gitignore file update #S12P11B201-46
  .gitignore
  Jenkinsfile.ci
Due: none

[chore] 알림 페이지 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/pages/Notification.tsx
Due: Build Frontend, Build & Push Frontend

[fix] 인증, 회원가입 로직 분리
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/TokenDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/OAuth2AuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
  backend/src/main/resources/application.properties
Due: Build Backend, Build & Push Backend

[fix] mysql 주소 수정
  backend/src/main/resources/application.properties
Due: Build Backend, Build & Push Backend

[fix] 이전 버전 복구
  backend/build.gradle
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/TokenDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserUpdateDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/OAuth2AuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
  backend/src/main/resources/application.properties
Due: Build Backend, Build & Push Backend

[fix] 추가 로직 복구
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/TokenDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/OAuth2AuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
  backend/src/main/resources/application.properties
Due: Build Backend, Build & Push Backend

[fix] mysql주소변경
  backend/src/main/resources/application.properties
Due: Build Backend, Build & Push Backend

[chore] app.tsx 리팩토링
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/public/device.png
  frontend/myonitoring/public/serial_num_guide.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/animations.ts
  frontend/myonitoring/src/index.css
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/onboarding/AgreementDetail.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/ConnectionSuccess.tsx
  frontend/myonitoring/src/pages/onboarding/DeviceGuide.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/Splash.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/medicalRecordsSlice.tsx
Due: Build Frontend, Build & Push Frontend

[docs] 디자인 및 화면 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/components/ContentSection.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/tailwind.config.js
Due: Build Frontend, Build & Push Frontend

[fix] 오류 해결
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
Due: Build Frontend, Build & Push Frontend

[feat] 의료기록 CRUD 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/MedicalController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalCreateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalDetailResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalUpdateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/MedicalRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MedicalService.java
Due: Build Backend, Build & Push Backend

[feat] 의료기록 생성 및 수정 dto 하나로 합침
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/MedicalController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/MedicalUpdateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MedicalService.java
Due: Build Backend, Build & Push Backend

?
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Statistics.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend, Build & Push Backend

[docs] Jenkinsfile.ci rollback #S12P11B201-46
  Jenkinsfile.ci
Due: none

[feat] medicalepository 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/MedicalRepository.java
Due: Build Backend, Build & Push Backend

[fix] Jenkinsfile.ci file update #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] Jenkinsfile.ci 재수정 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] Jenkins CI Test to back&front #S12P11B201-46
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/TestController.java
  frontend/myonitoring/index.html
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[docs] Jenkins CI code update #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] Jenkinsfile.ci 파일 재재수정 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 10-1 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[docs] ci test 10-2 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[fix] CORS 에러 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
Due: Build Backend, Build & Push Backend

CI Test 10-3 S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[docs] Jenkinsfile.ci file update 10-4 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 14 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[fix] Jenkinsfile.ci mergeTarget change #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] CI Test 15 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[docs] ci code 변경 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 16 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend, Build & Push Backend, Build & Push Frontend

[docs] ci simple test 1 #S12P11B201-46
  Jenkinsfile.ci
Due: none
