Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[chore] 사이트명 및 콘솔로그 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/index.html
  frontend/myonitoring/public/vite.svg
  frontend/myonitoring/src/assets/images/info_cat.png
  frontend/myonitoring/src/components/FirebaseComponents/FBNotification.tsx
  frontend/myonitoring/src/firebase/notification.ts
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
Due: Build Frontend

[chore] 사이트명 및 콘솔로그 수정
  README.md
  README2.md
Due: none

[chore] pwa manifest 이미지 수정
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[docs] readme gif 파일 수정
  README.md
Due: none

[chore] 오타 수정
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
Due: Build Frontend

[docs] 리드미 기술스택 수정
  README.md
Due: none

[fix] api 호출 로직에 FLAG 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
  backend/src/main/resources/application.properties
Due: Build Backend

[fix] DockerCompose 파일 수정
  docker-compose.yml
Due: none

[docs] porting manual
  exec/MyonitoringDBDump20250220.sql
  exec/porting_manual.md
Due: none

[fix] 눈 질병 감지 결과 응답에 이미지 url 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/service/EyeService.java
Due: Build Backend

[fix] no disease response
  backend/src/main/java/com/myaicrosoft/myonitoring/service/EyeService.java
Due: Build Backend

Update embedded/auto_feeder_project/myonitoring-firebase-adminsdk-fbsvc-78c9791370.json
  embedded/auto_feeder_project/myonitoring-firebase-adminsdk-fbsvc-78c9791370.json
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
