Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[docs] ci test 17 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 18 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 19 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 20 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 21 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] ci test 22 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 23 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] ci test 24 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] ci test 25 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] ci test 26 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] README update #S12P11B201-46
  backend/README.md
Due: Build Backend

[docs] README update
  backend/README.md
Due: Build Backend

[fix] 고양이 정보 수정 api 업데이트
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/CatUpdateRequest.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
Due: Build Backend

[feat] 임시 설정
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/resources/application.properties
Due: Build Backend

[feat] Schedule entity 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Schedule.java
Due: Build Backend

[chore] 온보딩 api 초기 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
Due: Build Frontend

[fix] dev 병합 충돌 해결
  frontend/package.json
  package-lock.json
Due: Build Frontend

[docs] frontend dockerfile update #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[feat] schedule CRUD 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/ScheduleRequestDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/ScheduleResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/ScheduleRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleService.java
Due: Build Backend

[docs] frontend/dockerfile update
  frontend/Dockerfile
Due: Build Frontend

[fix] 아이콘 라이브러리 충돌 해결
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend

[docs] frontend dockerfile 재수정 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] frontend dockerfile 재재수정 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] f-dockerfile @heroicons 추가 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] vite.config.ts 파일 수정 #S12P11B201-46
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[docs] frontend dockerfile 이미지파일 경로 추가 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] imagefile 복사 순서 변경 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] vite.config.ts & LoginSignUp.tsx update #S12P11B201-46
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[docs] vite.config.ts & dockerfile 재수정 #S12P11B201-46
  frontend/Dockerfile
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[feat] API 연결 test
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/GraphComponents/EyeInfoBox.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/onboarding/AgreementDetail.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/ConnectionSuccess.tsx
  frontend/myonitoring/src/pages/onboarding/DeviceGuide.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/tailwind.config.js
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[docs] dockerfile만 변경 #S12P11B201-46
  frontend/Dockerfile
Due: Build Frontend

[docs] LogSignUp.tsx 대소문자 구분 오류 확인 #S12P11B201-46
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
Due: Build Frontend

[docs] nginx.conf 수정 #S12P11B201-46
  nginx/conf.d/default.conf
Due: none

[feat] statistics 데이터 구조부터 수정중...
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Statistics.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/StatisticsRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

[fix] nginx/conf.d/default.conf 파일 수정 #S12P11B201-46
  nginx/conf.d/default.conf
Due: none

[fix] 회원 인증 상태에 따른 라우팅 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
Due: Build Frontend

[fix] vite.config.ts resolve:alias 설정 추가 #S12P11B201-46
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[fix] 소셜 로그인 axios 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/main.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[fix] vite.config.ts @heroicons/react/24/outline 수정 #S12P11B201-46
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
