Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[feat] 예약 추가 구현 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/authSlice.ts
  frontend/myonitoring/src/redux/slices/catSlice.ts
  frontend/myonitoring/src/redux/slices/deviceSlice.ts
  frontend/myonitoring/src/redux/slices/reservationsSlice.tsx
  frontend/myonitoring/src/redux/slices/userSlice.ts
Due: Build Frontend

[feat] FCM 토큰 관련 설정 추가
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/FcmToken.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/FcmTokenRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/FcmTokenService.java
Due: Build Backend

[fix] FCM 인증 오류 해결중
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
Due: Build Backend

[fix] FCM 인증 오류 해결중2
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
Due: Build Backend

[feat] firebase 관련 프론트 설정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/dev-dist/workbox-d9a5ed57.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/public/firebase-messaging-sw.js
  frontend/myonitoring/public/manifest.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/components/FirebaseComponents/Notification.tsx
  frontend/myonitoring/src/firebase/config.ts
  frontend/myonitoring/src/firebase/notification.ts
  frontend/myonitoring/vite.config.ts
Due: Build Frontend

[feat] 예약, 회원 정보 api 작업 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/pages/reservation/ReservationModal.tsx
Due: Build Frontend

[chore] 알림 페이지 라우팅 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/components/TopBar.tsx
Due: Build Frontend

[feat] MedicalRecords & Main API
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/white_bg.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/components/Header.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/components/MedicalComponent/MedicalList.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/index.css
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/medical-records/MakeMedicalRecord.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
Due: Build Frontend

아직 파이어베이스 확인 제대로 못한 상태
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Device.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationCategory.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationLog.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/CatRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/DeviceRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/StatisticsRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleNotificationService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/StatisticsService.java
Due: Build Backend

firebase alert setting
  backend/src/main/resources/localhost.p12
  frontend/myonitoring/dataconnect/connector/connector.yaml
  frontend/myonitoring/dataconnect/connector/mutations.gql
  frontend/myonitoring/dataconnect/connector/queries.gql
  frontend/myonitoring/dataconnect/dataconnect.yaml
  frontend/myonitoring/dataconnect/schema/schema.gql
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/localhost-key.pem
  frontend/myonitoring/localhost.pem
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/public/firebase-messaging-sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/components/FirebaseComponents/FBNotification.tsx
  frontend/myonitoring/src/components/FirebaseComponents/Notification.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/firebase/config.ts
  frontend/myonitoring/src/firebase/notification.ts
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/vite.config.ts
Due: Build Backend, Build Frontend

[fix] 유저 디바이스 관계 일대다로 변경, 디바이스 조회 기능 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Device.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/CatRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/DeviceRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
Due: Build Backend

backend update + frontend try
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/FcmToken.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/FcmTokenRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/FcmTokenService.java
  backend/src/main/resources/application.properties
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/FirebaseComponents/FBNotification.tsx
  frontend/myonitoring/src/firebase/config.ts
  frontend/myonitoring/src/firebase/notification.ts
Due: Build Backend, Build Frontend

[fix] user db 외래키 제약조건 추가(on delete cascade)
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Device.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Eye.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
Due: Build Backend

[fix] 임시로 토큰 유효기간 연장
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
Due: Build Backend

HTTPS-> HTTP config파일 변경
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/localhost.p12
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/localhost-key.pem
  frontend/myonitoring/localhost.pem
  frontend/myonitoring/public/firebase-messaging-sw.js
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/vite.config.ts
Due: Build Backend, Build Frontend

[fix] 디바이스 생성 후 응답 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DeviceController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceCreateResponse.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
Due: Build Backend

[fix] 디바이스 조회 기능 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/NotificationLogRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
Due: Build Backend

[feat] 오전 10시 섭취량 이상 알림 기능 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/NotificationLogRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
Due: Build Backend

[feat] 이상 알림 로그 기능 구현
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/NotificationLogController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/NotificationLogResponse.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/NotificationLog.java
  backend/src/main/java/com/myaicrosoft/myonitoring/repository/NotificationLogRepository.java
  backend/src/main/java/com/myaicrosoft/myonitoring/scheduler/ScheduleNotification.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/NotificationLogService.java
  backend/src/main/resources/application.properties
Due: Build Backend

[fix] 파이어베이스 관련해서 application.properties 수정했던 거 원상 복구
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
Due: Build Backend

[feat] home 대거 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/Cat.png
  frontend/myonitoring/public/Cat_bg.png
  frontend/myonitoring/public/Group 1321316432.png
  frontend/myonitoring/public/food0.png
  frontend/myonitoring/public/food1.png
  frontend/myonitoring/public/health0.png
  frontend/myonitoring/public/health1.png
  frontend/myonitoring/public/home_background.png
  frontend/myonitoring/public/lookig_up_cat.png
  frontend/myonitoring/public/magnifier.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/HomeComponents/HomeComponentBar.tsx
  frontend/myonitoring/src/components/MedicalComponent/MedicalList.tsx
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
  frontend/myonitoring/src/pages/onboarding/Greeting.tsx
  frontend/myonitoring/src/pages/onboarding/Loading.tsx
  frontend/myonitoring/src/pages/onboarding/Splash.tsx
Due: Build Frontend

[fix] 파이어베이스 관련 application.properties 수정했던 거 원상 복구
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
Due: Build Backend

[feat] 기기 api만 남음
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/animations.ts
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/onboarding/AgreementDetail.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/DeviceGuide.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/deviceSlice.ts
Due: Build Frontend

[feat] 기기 목록 api, 기기 상세 api 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
Due: Build Frontend

[fix] 디바이스 전체 조회 응답 데이터 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/DeviceResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
Due: Build Backend

[feat] 스케줄 추가/수정 시 기기로 데이터 전송
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/ScheduleController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/ScheduleService.java
Due: Build Backend

[docs] firebase-notification update #S12P11B201-42
  .gitattributes
  backend/src/main/java/com/myaicrosoft/myonitoring/config/FirebaseConfig.java
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/firebase-messaging-sw.js
  frontend/myonitoring/src/firebase/config.ts
  frontend/myonitoring/src/firebase/notification.ts
Due: Build Backend, Build Frontend

[feat] Statstics 수정, 효원 담당 화면 API 경로 수정완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/components/NotificationBox.tsx
  frontend/myonitoring/src/dummyData/cateye_data.json
  frontend/myonitoring/src/dummyData/day.json
  frontend/myonitoring/src/dummyData/dummyData14.py
  frontend/myonitoring/src/dummyData/feeding_data.json
  frontend/myonitoring/src/dummyData/week.json
  frontend/myonitoring/src/pages/CatInfoEdit.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/medical-records/MakeMedicalRecord.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecordsDetail.tsx
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/SerialNumInput.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
Due: Build Frontend

[feat] 기기 관련 api 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/cam.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/animations.ts
  frontend/myonitoring/src/components/TopBar.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/onboarding/AgreementDetail.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/DeviceGuide.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/deviceSlice.ts
Due: Build Frontend

[feat] 기기 조회 완료
  frontend/myonitoring/dev-dist/sw.js
Due: Build Frontend

[fix] 예약, cctv, 알림 미구현 상태
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
Due: Build Frontend

[fix] 예약, cctv, 알림 미구현 상태
  frontend/myonitoring/src/api/axios.ts
Due: Build Frontend

[docs] dev-dist/sw.js 파일 업데이트 #S12P11B201-42
  frontend/myonitoring/dev-dist/sw.js
Due: Build Frontend

[fix] 선택 고양이에 따른 예약 화면 전환 가능
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/reservationsSlice.tsx
Due: Build Frontend

[fix] user 삭제 시 device, cat, medical records 삭제
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Medical.java
Due: Build Backend

[fix] device 삭제 시 schedule, eye, feeding, intake records 삭제
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Eye.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Feeding.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Intake.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Schedule.java
Due: Build Backend

[fix] cats.weight가 nullable로 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Cat.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
Due: Build Backend

[feat] 메인페이지에 api 요청 시 고양이 사진 추가 전송
  backend/src/main/java/com/myaicrosoft/myonitoring/service/MainPageService.java
Due: Build Backend

[fix] 로그아웃, 탈퇴 토스트 팝업 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/userSlice.ts
Due: Build Frontend

[feat] Home 프사 변경 완료
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/api/axios.ts
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
Due: Build Frontend

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
