Repository SSAFY12-B201/Myonitoring: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
              steps {
                  dir('backend') {
                      sh '''
                          chmod +x ./gradlew
                          ./gradlew clean build
                          docker build -t ${BACKEND_IMAGE}:latest .
  ...

Build Frontend:
              steps {
                  dir('frontend') {
                      sh '''
                          npm install
                          npm run build
                          docker build -t ${FRONTEND_IMAGE}:latest .
  ...

[docs] cicd test 8 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] cicd test 9 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] Jenkinsfile.ci update 6 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] cicd test 10 #S12P11B201-46
  backend/README.md
  frontend/README.md
Due: Build Backend, Build Frontend

[docs] Jenkinsfile.cd update #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] docker-compose.yml update #S12P11B201-46
  docker-compose.yml
Due: none

[docs] Jenkinsfile.cd update 2 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] Jenkinsfile.cd update 3 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] Jenkinsfile.cd update 4 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] Jenkinsfile.cd update 5 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] docker-compose.yml update 2 #S12P11B201-46
  docker-compose.yml
Due: none

[docs] Jenkinsfile.cd update 6 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] Jenkinsfile.ci update & docker-compose.yml update #S12P11B201-46
  Jenkinsfile.ci
  docker-compose.yml
Due: none

[docs] CICD files update & test application.properties update #S12P11B201-46
  Jenkinsfile.cd
  Jenkinsfile.ci
  backend/src/test/resources/application.properties
  docker-compose.dev.yml
  docker-compose.override.yml
Due: Build Backend

[docs] Jenkinsfile.ci update 8 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[docs] Jenkinsfile.cd update 7 #S12P11B201-46
  Jenkinsfile.cd
Due: none

[docs] add .env.example file #S12P11B201-46
  .env.example
Due: none

[fix] Jenkinsfile.ci update 11 #S12P11B201-46
  Jenkinsfile.ci
Due: none

[feat] 고양이 정보 입력 화면 구현 #S12P11B201-180
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/home_background.png
  frontend/myonitoring/public/lookig_up_cat.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/pages/Home.tsx
  frontend/myonitoring/src/pages/UserInfo.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/onboarding/AgreementDetail.tsx
  frontend/myonitoring/src/pages/onboarding/Agreements.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
  frontend/myonitoring/src/pages/onboarding/Greeting.tsx
  frontend/myonitoring/src/pages/onboarding/Splash.tsx
  frontend/myonitoring/src/pages/onboarding/UserInfo.tsx
  frontend/myonitoring/src/redux/slices/catSlice.ts
Due: Build Frontend

[fix] 고양이 정보 입력 페이지 타입 오류 해결
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
Due: Build Frontend

[feat] 통계 화면 개발 #S12P11B201-135
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/GraphComponents/CumulativeStatistics.tsx
  frontend/myonitoring/src/components/GraphComponents/EyeInfoBox.tsx
  frontend/myonitoring/src/components/GraphComponents/ReportTabBar.tsx
  frontend/myonitoring/src/pages/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/Graph.tsx
  frontend/myonitoring/src/pages/Statistics.tsx
Due: Build Frontend

[feat] 로그인 리다이렉트 화면
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/src/pages/auth/AuthCallback.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/onboarding/CatInfo.tsx
Due: Build Frontend

[feat] 스플래쉬, 로딩, 회원가입, 로그인, 메인, 리포트 화면 구현
  frontend/myonitoring/src/App.tsx
Due: Build Frontend

[chore] 회원가입 라다이렉트 페이지 생성 #S12P11B201-86
  frontend/myonitoring/dev-dist/sw.js
Due: Build Frontend

[feat] 리포트 페이지 개발 및 프론트 브렌치 병합
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/components/GraphComponents/EyeInfoBox.tsx
  frontend/myonitoring/src/pages/CatEyeInfo.tsx
Due: Build Frontend

[chore] 카카오 로그인 로직 수정 #S12P11B201-86
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/main.tsx
  frontend/myonitoring/src/pages/auth/AuthCallback.tsx
  frontend/myonitoring/src/pages/auth/LoginSignUp.tsx
  frontend/myonitoring/src/pages/auth/Redirect.tsx
Due: Build Frontend

[fix] admin계정 생성 및 테스트
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController2.java
Due: Build Backend

[fix] admin계정 생성 및 테스트
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/CatController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DeviceController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserResponseDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/dto/UserUpdateDto.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/User.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/CatService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/DeviceService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/JwtProvider.java
  backend/src/main/java/com/myaicrosoft/myonitoring/util/SecurityUtil.java
  backend/src/main/resources/application.properties
Due: Build Backend

[fix] 엔드포인트 수정 및 로컬 테스트 완료
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/CatController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DataCollectionController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/DeviceController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/EyeController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/IntakeController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/UserController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/KakaoAuthService.java
Due: Build Backend

[fix] 설정값 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/MyonitoringApplication.java
  backend/src/main/resources/application.properties
Due: Build Backend

[feat] 배급 예약, 의료기록 조회 화면 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/package.json
  frontend/myonitoring/public/gradient_background.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/medicalRecordsSlice.tsx
  frontend/myonitoring/src/redux/slices/reservationsSlice.tsx
  frontend/myonitoring/src/redux/store.ts
Due: Build Frontend

[feat] 마이페이지, 개인정보 수정 페이지, 기기 페이지, 기기 상세 페이지 개발
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/assets/images/device.png
  frontend/myonitoring/src/assets/images/mainback.png
  frontend/myonitoring/src/components/BottomBar.tsx
  frontend/myonitoring/src/components/GraphComponents/EyeInfoBox.tsx
  frontend/myonitoring/src/components/Input.tsx
  frontend/myonitoring/src/dummyData/cateye_data.json
  frontend/myonitoring/src/pages/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/mypage/DeviceDetailedSettings.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/mypage/Mypage.tsx
Due: Build Frontend

[docs] 알림페이지 제외 리포트, 마이페이지, 기기페이지 개발 및 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/NotificationBox.tsx
  frontend/myonitoring/src/pages/Notification.tsx
  frontend/myonitoring/src/pages/mypage/DeviceSettings.tsx
  frontend/myonitoring/src/pages/mypage/EditPersonal.tsx
  frontend/myonitoring/src/pages/report/CatEyeInfo.tsx
  frontend/myonitoring/src/pages/report/Graph.tsx
  frontend/myonitoring/src/pages/report/Statistics.tsx
Due: Build Frontend

[feat] 의료 기록 상세 페이지 화면 구현
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/public/sleeping_cat.png
  frontend/myonitoring/src/App.tsx
  frontend/myonitoring/src/components/BottomBar.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecords.tsx
  frontend/myonitoring/src/pages/medical-records/MedicalRecordsDetail.tsx
  frontend/myonitoring/src/pages/reservation/Reservation.tsx
  frontend/myonitoring/src/redux/slices/medicalRecordsSlice.tsx
Due: Build Frontend

[fix] refresh token 발급 관련 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/config/SecurityConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/config/WebConfig.java
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/resources/application.properties
Due: Build Backend

[feat] medical 엔티티 생성 후 DB 연동 확인
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/Medical.java
  backend/src/main/java/com/myaicrosoft/myonitoring/model/entity/MedicalCategory.java
Due: Build Backend

[fix] 로그아웃 로직 수정
  backend/src/main/java/com/myaicrosoft/myonitoring/controller/OAuth2AuthController.java
  backend/src/main/java/com/myaicrosoft/myonitoring/service/UserService.java
  backend/src/main/resources/application.properties
Due: Build Backend

[docs] docker-compose.yml update #S12P11B201-46
  .gitignore
  docker-compose.yml
Due: none

[fix] 홈 화면 프로필 이미지 수정
  frontend/myonitoring/dev-dist/sw.js
  frontend/myonitoring/package-lock.json
  frontend/myonitoring/src/pages/Home.tsx
  frontend/package-lock.json
  frontend/package.json
Due: Build Frontend

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
